<!-- THESE ARE YOUR TYPOGRAPHY ATOMS. MAKE EM BEAUTIFUL! -->
<!-- Doctype HTML5 -->
<!doctype html>

<html lang="en">

	<head>

		<!-- Set character encoding for the document -->
		<meta charset="utf-8">

		<!-- Instruct Internet Explorer to use its latest rendering engine -->
		<meta http-equiv="x-ua-compatible" content="ie=edge">	

		<!-- Viewport for responsive web design -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Meta Description -->
		<meta name="description" content="These are your typography atoms.">

		<!-- Standard favicon -->
		<link rel="icon" type="image/x-icon" href="https://example.com/favicon.ico">
		
		<!-- Recommended favicon format -->
		<link rel="icon" type="image/png" href="https://example.com/favicon.png">

		<!-- Apple Touch Icon -->
		<link rel="apple-touch-icon" href="/custom-icon.png">

		<!-- Microsoft Tiles -->
		<meta name="msapplication-config" content="browserconfig.xml">

		<!-- Link to your stylesheets -->

		<link rel="stylesheet" href="css/typography.css">

		<!-- Document Title -->
		<title>FE-Boilerplate atoms made with ❤ by Sebastian &amp; Marek for ion2s.</title>

		<!-- Boilerplate-styles. You can delete this. -->
		<style>*{margin:0;padding:0;box-sizing:border-box}
		body{height:100vh}main{background:url(imgs/logo_Pttrn_B.svg);background-size:200px;height:calc(100vh - 160px);padding:3rem;animation-name:backPttrn;animation-direction:alternate;animation-duration:10000ms;animation-iteration-count:infinite;animation-timing-function:ease-in-out}@keyframes backPttrn{0%{background-position:left top}100%{background-position:-500px -500px}}section{max-width:900px;margin: 0 auto;padding: 4rem 2rem;}footer{background-color:#fff;padding:1rem;color:#83b817;height:80px;display:flex;align-items:center;justify-content:center}</style>

	</head>		

	<body>
		
		<!-- Example Structure -->

		<!-- This might be your header including the navigation for example -->
		<header>
			
		</header>

		
		<main>


			<!-- HEADLINES -->
			<section>
				
				<form action="" class="form">
					
					<fieldset>

						<legend>basic input</legend>

						<label for="basicinput" class="label"><span>Label</span>
							<input type="text" name="basicinput" class="input">
						</label>


					</fieldset>

					<fieldset>

						<legend>password input</legend>

						<label for="passwordinput" class="label"><span>Label</span>
							<input type="password" name="passwordinput" class="input">
						</label>

					</fieldset>

					<fieldset>

						<legend>Checkboxes and Radios</legend>
						
						<label for="radio1">
							<span>Radio 1</span>
							<input type="radio" id="radio1" name="radio1">
						</label>

						<label for="radio2">
							<span>Radio 2</span>
							<input type="radio" id="radio2" name="radio2">
						</label>

						<label for="check1">
							<span>Radio 1</span>
							<input type="checkbox" id="check1" name="check1">
						</label>

						<label for="check2">
							<span>Radio 2</span>
							<input type="checkbox" id="check2" name="check2">
						</label>

						
					</fieldset>

					<fieldset>
						
						<legend>Selectbox</legend>

						<select name="select1" id="select1">

							<option value="option1" >option1</option>

							<option value="option2" selected>option2</option>

							<option value="option3">option3</option>

						</select>

					</fieldset>

				</form>

			</section>
			

		</main>

		<!-- This is going to be your footer -->
		<footer>
			
			 <p> Made with ❤ in Ober-Ramstadt and Seeheim</p>

		</footer>		

    <!-- Your js magic goes here -->
    <script src="js/main.js"></script>

	</body>
	
</html>